/*socialed-style.css */
/* Own stylesheet for SocialED */

#container {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  padding-left: 20px;
  background-color: #FFFFFF; /* beige */
  color: red; /* dark grey */
  margin: 10px;
}
a {
  text-decoration: none;
} 

a:link{
 color:black;

 }
a:hover {
  color:green;
}
h1 {
   color:blue;
   font-size:20pt;


}
form {





}
label {





}
.inputs {




}

