{% extends "base.html" %}
{% block titulo %}
Inicio - SocialED
{% endblock %}
{% block contenido %}
<h1>Hi, How are you?</h1>
<form action="processHome" method="post" name="home">
    <label for="message">Di algo:</label>
    <div class="inputs">
        <input id="message" maxlength="128" name="message" size="80" type="text" required="true" value="" />
        <input id="last" type="hidden" name="last" required="true" value="{{ last}} {{message}}">
    </div>
    <div class="inputs">
        <input id="post_submit" name="post_submit" type="submit" value="Post!" />
        <br><br>Posts Anteriores: <br>{{ last }} <br> {{ message }}
</form>
</div>
{% endblock %}