{% extends "base.html" %}
{% block titulo %}
Mi Cuenta
{% endblock %}
{% block contenido %}
<h1>Mi Cuenta - SocialED</h1>
<div>
    <p>Nombre: {{ user_name }}</p>
    <p>Email: {{ email }} </p>
    <form action="processMicuenta" method="POST" name="miCuenta">
        <div class="inputs">
            <input id="passwd_submit" name="passwd_submit" type="submit" value="Cambiar password">
        </div>
        <div class="inputs">
            <input id="logout_submit" type="submit" name="logout_submit" value="Salir">
        </div>
    </form>
</div>
{% endblock %}