{% extends "base.html" %}
{% block titulo %}
Mi Cuenta
{% endblock %}
{% block contenido %}
<h1>Mi Cuenta - SocialED</h1>
<div>
    <p>Nombre: {{ nickname }}</p>
    <p>Email: {{ email }} </p>
    <form action="micuenta" method="POST" name="miCuenta">
        <div class="inputs">
            <input id="edit_submit" name="edit_submit" type="submit" value="Editar perfil">
        </div>
        <div class="inputs">
            <input id="logout_submit" type="submit" name="logout_submit" value="Salir">
        </div>
    </form>
</div>
{% endblock %}